<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="jumbotron">
    <div class="container">
        <div style="display: table">
            <div class="integration-logo">
                <a href="/"><img src="/public/images/integration-logo.png"></a>
            </div>
            <div class="title">
                <span>Services to integrate OMNA Commerce and <%= integration.name %> platform.</span>
            </div>
        </div>
        <hr/>
        <div class="details">
            TODO: ...
        </div>
    </div>
</div>
</body>
</html>
